In [82]:
import pandas as pd
import ta

In [70]:
filepath = 'raw_data.csv'
stocks = ['JNJ', 'KO', 'T']

In [71]:
df = pd.read_csv(filepath,index_col=0)

In [72]:
df = df.reset_index(drop=True)

In [73]:
cols = df.columns[1:7]

In [74]:
def get_ta(df):
    df['rsi'] = ta.momentum.rsi(df['Close'])
    df['macd'] = ta.trend.macd_diff(df['Close'])
    df['obv'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
    df.dropna(inplace=True)

    return df

In [75]:
jnj_df = df[df['Ticker'] == 'JNJ']
ko_df = df[df['Ticker'] == 'KO']
t_df = df[df['Ticker'] == 'T']

In [76]:
jnj_df = get_ta(jnj_df)
ko_df = get_ta(ko_df)
t_df = get_ta(t_df)

C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rsi'] = ta.momentum.rsi(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['macd'] = ta.trend.macd_diff(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['obv'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rsi'] = ta.momentum.rsi(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['macd'] = ta.trend.macd_diff(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['obv'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rsi'] = ta.momentum.rsi(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['macd'] = ta.trend.macd_diff(df['Close'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['obv'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
C:\Users\nolan\AppData\Local\Temp\ipykernel_2400\3682271334.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [77]:
df_ta = pd.DataFrame(columns=jnj_df.columns)

In [78]:
df_ta = pd.concat([df_ta,jnj_df,ko_df,t_df]).sort_values(['Date','Ticker']).reset_index(drop=True)
df_ta = df_ta[['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'rsi', 'macd', 'obv']]

In [79]:
df_ta

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume,rsi,macd,obv
0,2003-05-19 00:00:00-04:00,JNJ,55.700001,55.860001,54.0,54.630001,31.455826,13579600,35.526342,-0.113383,-37946800
1,2003-05-19 00:00:00-04:00,KO,21.85,22.184999,21.809999,22.055,12.158678,9228400,64.294553,0.114787,61043800
2,2003-05-19 00:00:00-04:00,T,18.542295,18.655588,18.179758,18.391239,4.325662,8227601,61.764436,0.048813,138341847
3,2003-05-20 00:00:00-04:00,JNJ,54.82,55.150002,53.330002,53.990002,31.087305,10068600,32.070617,-0.181416,-48015400
4,2003-05-20 00:00:00-04:00,KO,22.1,22.285,21.985001,22.26,12.271689,12090000,66.479297,0.10132,73133800
...,...,...,...,...,...,...,...,...,...,...,...
15187,2023-06-28 00:00:00-04:00,KO,60.880001,61.040001,60.400002,60.52,60.52,11173200,41.699757,0.085742,3876291800
15188,2023-06-28 00:00:00-04:00,T,15.81,15.84,15.61,15.78,15.78,26156400,44.881924,0.061494,3432951944
15189,2023-06-29 00:00:00-04:00,JNJ,162.639999,164.320007,162.229996,164.100006,164.100006,4547500,61.476661,0.207779,403494500
15190,2023-06-29 00:00:00-04:00,KO,60.220001,60.349998,59.77,60.02,60.02,17142300,37.452579,0.013367,3859149500
15191,2023-06-29 00:00:00-04:00,T,15.74,16.01,15.74,15.98,15.98,27298300,49.498031,0.076519,3460250244

In [80]:
df_ta['h/o'] = df_ta['High']/df_ta['Open']
df_ta['l/o'] = df_ta['Low']/df_ta['Open']
df_ta['c/o'] = df_ta['Close']/df_ta['Open']
df_ta['open_change'] = df_ta.groupby("Ticker")["Open"].apply(lambda x: x - x.shift(1))
df_ta['close_change'] = df_ta.groupby('Ticker')['Close'].apply(lambda x: x - x.shift(1))
df_ta['open_change_mean_7'] = df_ta.groupby('Ticker')['open_change'].apply(lambda x: x.rolling(7).mean())
df_ta['open_change_mean_14'] = df_ta.groupby('Ticker')['open_change'].apply(lambda x: x.rolling(14).mean())
df_ta['open_change_mean_30'] = df_ta.groupby('Ticker')['open_change'].apply(lambda x: x.rolling(30).mean())
df_ta['close_change_mean_7'] = df_ta.groupby('Ticker')['close_change'].apply(lambda x: x.rolling(7).mean())
df_ta['close_change_mean_14'] = df_ta.groupby('Ticker')['close_change'].apply(lambda x: x.rolling(14).mean())
df_ta['close_change_mean_30'] = df_ta.groupby('Ticker')['close_change'].apply(lambda x: x.rolling(30).mean())

In [81]:
df_ta.dropna(inplace=True)
df_ta.reset_index(drop=True)

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume,rsi,macd,...,l/o,c/o,open_change,close_change,open_change_mean_7,open_change_mean_14,open_change_mean_30,close_change_mean_7,close_change_mean_14,close_change_mean_30
0,2003-07-01 00:00:00-04:00,JNJ,51.700001,52.639999,51.490002,52.419998,30.1833,9099000,42.907352,-0.096399,...,0.995938,1.013926,-0.380001,0.719997,-0.450000,-0.087143,-0.133333,-0.290000,-0.041429,-0.073667
1,2003-07-01 00:00:00-04:00,KO,23.125,23.32,22.950001,23.245001,12.875498,11637800,54.005866,-0.112294,...,0.992432,1.005189,-0.049999,0.040001,-0.006429,-0.004643,0.042500,0.001429,-0.011071,0.039667
2,2003-07-01 00:00:00-04:00,T,19.297583,19.705439,19.244713,19.660122,4.624108,13712536,56.293862,-0.08072,...,0.99726,1.018787,0.007553,0.362539,-0.032370,-0.003776,0.025176,-0.007553,0.010790,0.042296
3,2003-07-02 00:00:00-04:00,JNJ,52.16,53.060001,52.150002,52.900002,30.459694,8393800,46.653975,-0.032032,...,0.999808,1.014187,0.459999,0.480003,-0.277143,-0.077857,-0.088667,-0.064285,-0.026428,-0.036333
4,2003-07-02 00:00:00-04:00,KO,23.225,23.26,23.02,23.190001,12.845036,8860000,52.831497,-0.113132,...,0.991173,0.998493,0.1,-0.055,0.012143,-0.002143,0.037500,-0.026428,-0.038214,0.031000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15097,2023-06-28 00:00:00-04:00,KO,60.880001,61.040001,60.400002,60.52,60.52,11173200,41.699757,0.085742,...,0.992116,0.994087,-0.34,-0.57,-0.102857,0.062143,-0.111333,-0.164285,0.021429,-0.114000
15098,2023-06-28 00:00:00-04:00,T,15.81,15.84,15.61,15.78,15.78,26156400,44.881924,0.061494,...,0.98735,0.998102,0.26,-0.06,-0.041429,0.012857,-0.039667,-0.040000,-0.022857,-0.039000
15099,2023-06-29 00:00:00-04:00,JNJ,162.639999,164.320007,162.229996,164.100006,164.100006,4547500,61.476661,0.207779,...,0.997479,1.008977,-0.559998,1.139999,-0.231428,0.295714,0.119333,-0.004286,0.274287,0.158667
15100,2023-06-29 00:00:00-04:00,KO,60.220001,60.349998,59.77,60.02,60.02,17142300,37.452579,0.013367,...,0.992527,0.996679,-0.66,-0.5,-0.195714,0.006429,-0.122667,-0.177143,-0.025000,-0.106667
15101,2023-06-29 00:00:00-04:00,T,15.74,16.01,15.74,15.98,15.98,27298300,49.498031,0.076519,...,1.0,1.015248,-0.070001,0.2,-0.040000,-0.021429,-0.039667,0.028571,-0.006429,-0.018333

In [83]:
df_ta.to_csv('preprocessed.csv')