In [11]:
import pandas as pd
import yfinance as yf

In [12]:
tickers = ['KO', 'T', 'JNJ']

In [13]:
df = pd.DataFrame()

In [14]:
for ticker in tickers:
    temp = yf.download(ticker,start='2003-04-01', end='2023-06-30')
    temp['Ticker'] = ticker
    df = pd.concat([df, temp])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [15]:
df.reset_index(inplace=True)

In [16]:
df.sort_values(['Date', 'Ticker'],inplace=True)

In [17]:
df.set_index('Date')

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2003-04-01 00:00:00-05:00,57.869999,58.599998,57.680000,58.419998,33.492470,7793200,JNJ
2003-04-01 00:00:00-05:00,20.250000,20.290001,19.940001,20.195000,11.133285,13867600,KO
2003-04-01 00:00:00-05:00,15.483384,16.389729,15.407855,16.148035,3.721630,24207619,T
2003-04-02 00:00:00-05:00,58.270000,58.680000,57.779999,58.410000,33.486736,8450400,JNJ
2003-04-02 00:00:00-05:00,20.575001,20.865000,20.500000,20.725000,11.425461,10338600,KO
...,...,...,...,...,...,...,...
2023-06-28 00:00:00-04:00,60.880001,61.040001,60.400002,60.520000,60.520000,11173200,KO
2023-06-28 00:00:00-04:00,15.810000,15.840000,15.610000,15.780000,15.780000,26156400,T
2023-06-29 00:00:00-04:00,162.639999,164.320007,162.229996,164.100006,164.100006,4547500,JNJ
2023-06-29 00:00:00-04:00,60.220001,60.349998,59.770000,60.020000,60.020000,17142300,KO
2023-06-29 00:00:00-04:00,15.740000,16.010000,15.740000,15.980000,15.980000,27298300,T

In [18]:
df.to_csv('raw_data.csv')
# df