In [1]:
import pandas as pd
import yfinance as yf

In [2]:
tickers = ['KO', 'T', 'JNJ']

In [18]:
df = pd.DataFrame()

In [19]:
for ticker in tickers:
    temp = yf.download(ticker,start='2013-07-01', end='2023-06-28')
    temp['ticker'] = ticker
    df = pd.concat([df, temp])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [21]:
df.sort_index(inplace=True)

In [22]:
df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2013-07-01 00:00:00-04:00,40.500000,40.919998,40.360001,40.459999,29.503342,10754300,KO
2013-07-01 00:00:00-04:00,85.720001,87.639999,85.500000,86.629997,66.036987,9905200,JNJ
2013-07-01 00:00:00-04:00,26.737160,26.948641,26.578550,26.661631,12.604524,26352102,T
2013-07-02 00:00:00-04:00,40.470001,40.740002,40.180000,40.369999,29.437712,12248300,KO
2013-07-02 00:00:00-04:00,86.650002,87.199997,86.209999,86.570000,65.991264,8572100,JNJ
...,...,...,...,...,...,...,...
2023-06-26 00:00:00-04:00,15.460000,15.650000,15.430000,15.630000,15.630000,28616600,T
2023-06-26 00:00:00-04:00,61.209999,61.290001,60.389999,61.220001,61.220001,12856100,KO
2023-06-27 00:00:00-04:00,61.220001,61.360001,60.980000,61.090000,61.090000,9068500,KO
2023-06-27 00:00:00-04:00,15.550000,15.890000,15.530000,15.840000,15.840000,31457000,T
2023-06-27 00:00:00-04:00,163.679993,163.880005,162.440002,163.289993,163.289993,4927500,JNJ