In [1]:
import pandas as pd
import yfinance as yf

In [2]:
tickers = ['KO', 'T', 'JNJ']

In [3]:
df = pd.DataFrame()

In [4]:
for ticker in tickers:
    temp = yf.download(ticker,start='2003-07-01', end='2023-06-28')
    temp['Ticker'] = ticker
    df = pd.concat([df, temp])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
df.reset_index(inplace=True)

In [13]:
df.sort_values(['Date', 'Ticker'],inplace=True)

In [14]:
df.set_index('Date')

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2003-07-01 00:00:00-04:00,51.700001,52.639999,51.490002,52.419998,30.183304,9099000,JNJ
2003-07-01 00:00:00-04:00,23.125000,23.320000,22.950001,23.245001,12.875499,11637800,KO
2003-07-01 00:00:00-04:00,19.297583,19.705439,19.244713,19.660122,4.624108,13712536,T
2003-07-02 00:00:00-04:00,52.160000,53.060001,52.150002,52.900002,30.459688,8393800,JNJ
2003-07-02 00:00:00-04:00,23.225000,23.260000,23.020000,23.190001,12.845037,8860000,KO
...,...,...,...,...,...,...,...
2023-06-26 00:00:00-04:00,61.209999,61.290001,60.389999,61.220001,61.220001,12856100,KO
2023-06-26 00:00:00-04:00,15.460000,15.650000,15.430000,15.630000,15.630000,28616600,T
2023-06-27 00:00:00-04:00,163.679993,163.880005,162.440002,163.289993,163.289993,4927500,JNJ
2023-06-27 00:00:00-04:00,61.220001,61.360001,60.980000,61.090000,61.090000,9068500,KO
2023-06-27 00:00:00-04:00,15.550000,15.890000,15.530000,15.840000,15.840000,31457000,T

In [15]:
df.to_csv('raw_data.csv')
# df