In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import conf

from util import preprocessing
from port_env import StockPortfolioEnv
from finrl.meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.meta.data_processor import DataProcessor

In [2]:
df = pd.read_csv('raw_data.csv', index_col=0)
df = preprocessing(df)

c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\nolan\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)

In [3]:
df

,date,ticker,open,high,low,close,volume,day,sma,ema,rsi,macd,obv,cci,adx,atr,cov_list
0,2009-10-07,AAPL,6.777143,6.805357,6.751071,5.775057,465668000,2,5.636907,5.651985,69.783051,0.000103,76590477600,120.587879,25.406273,1.043163,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,AMZN,4.575000,4.724000,4.557500,4.698500,148902000,2,4.568056,4.562287,62.868703,-0.002230,7308406000,95.314809,21.863590,0.125389,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,BRK-B,65.199997,65.940002,65.199997,65.800003,1245000,2,65.805556,65.858521,50.348832,-0.140368,-4180000,-42.923092,13.177895,1.217660,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,GOOG,12.428415,12.926299,12.398776,12.890184,195698788,2,12.348077,12.384596,73.462918,0.003989,22293473363,166.673276,34.746270,0.242156,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,LIN,80.629997,81.500000,80.449997,61.233204,1603200,2,60.827836,60.801278,58.217536,-0.094041,57375000,66.892637,14.658829,20.083793,"[[0.000746574645082292, 0.00037050577073976214..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455,2023-06-30,PLD,122.550003,122.879997,119.910004,122.629997,6598700,4,120.188889,120.909493,53.214996,0.153611,661042700,1.740759,11.749923,2.808280,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,UNH,478.000000,482.100006,475.119995,480.640015,3970100,4,477.260003,477.604876,50.760942,0.616983,584102300,-6.637103,15.197652,9.895974,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,UPS,176.589996,179.649994,175.559998,179.250000,4891700,4,174.438890,175.229139,60.713882,0.648649,-1500000,118.022173,16.178079,3.098152,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,WMT,154.970001,157.529999,154.779999,157.179993,6357000,4,155.128891,155.223229,64.128756,0.025758,963892500,83.865890,20.646912,1.940878,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,XOM,107.320000,107.879997,106.809998,107.250000,13542700,4,104.497779,105.412844,55.571405,0.360397,734168300,90.373220,16.174652,2.196232,"[[0.00043991619022588723, 0.000313276464533317..."

In [4]:
stock_dim = len(conf.TICKERS)

In [5]:
env_kwargs = {
    'share_max': 5000,
    'initial_amount': 1000,
    'transaction_cost_pct': 0,
    'state_space': stock_dim,
    'action_space': stock_dim,
    'stock_dim': stock_dim,
    'tech_indicator_list': conf.TA_LIST,
    'reward_scaling': 0,
    'initial_weights': [1/stock_dim for t in conf.TICKERS]
}

In [11]:
env = StockPortfolioEnv(raw_df = df, **env_kwargs)

In [12]:
action = [1/stock_dim for t in conf.TICKERS]

In [13]:
for i in range(conf.EPISODE_LENGTH*10):
    env.step(action)

=================================
begin_total_asset:1000
end_total_asset:2481.2930853679172
Sharpe:  1.3154998648555027
=================================
=================================
begin_total_asset:1000
end_total_asset:2575.029509177312
Sharpe:  1.3276163540631702
=================================
=================================
begin_total_asset:1000
end_total_asset:2362.9055496682477
Sharpe:  1.2096694888779644
=================================
=================================
begin_total_asset:1000
end_total_asset:2414.139104069519
Sharpe:  1.2331196498108052
=================================
=================================
begin_total_asset:1000
end_total_asset:2399.756465077163
Sharpe:  1.237016881928603
=================================
=================================
begin_total_asset:1000
end_total_asset:2498.1284918820984
Sharpe:  1.2849602247480978
=================================
=================================
begin_total_asset:1000
end_total_asset:2269.7062992144465
Sharpe:  1.156709803874401
=================================
=================================
begin_total_asset:1000
end_total_asset:2319.695137418765
Sharpe:  1.1865526978635064
=================================
=================================
begin_total_asset:1000
end_total_asset:2368.366239693136
Sharpe:  1.2149914922113287
=================================
=================================
begin_total_asset:1000
end_total_asset:2386.3676008465955
Sharpe:  1.2184879407796971
=================================

In [9]:
df

,date,ticker,open,high,low,close,volume,day,sma,ema,rsi,macd,obv,cci,adx,atr,cov_list
0,2009-10-07,AAPL,6.777143,6.805357,6.751071,5.775057,465668000,2,5.636907,5.651985,69.783051,0.000103,76590477600,120.587879,25.406273,1.043163,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,AMZN,4.575000,4.724000,4.557500,4.698500,148902000,2,4.568056,4.562287,62.868703,-0.002230,7308406000,95.314809,21.863590,0.125389,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,BRK-B,65.199997,65.940002,65.199997,65.800003,1245000,2,65.805556,65.858521,50.348832,-0.140368,-4180000,-42.923092,13.177895,1.217660,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,GOOG,12.428415,12.926299,12.398776,12.890184,195698788,2,12.348077,12.384596,73.462918,0.003989,22293473363,166.673276,34.746270,0.242156,"[[0.000746574645082292, 0.00037050577073976214..."
0,2009-10-07,LIN,80.629997,81.500000,80.449997,61.233204,1603200,2,60.827836,60.801278,58.217536,-0.094041,57375000,66.892637,14.658829,20.083793,"[[0.000746574645082292, 0.00037050577073976214..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3455,2023-06-30,PLD,122.550003,122.879997,119.910004,122.629997,6598700,4,120.188889,120.909493,53.214996,0.153611,661042700,1.740759,11.749923,2.808280,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,UNH,478.000000,482.100006,475.119995,480.640015,3970100,4,477.260003,477.604876,50.760942,0.616983,584102300,-6.637103,15.197652,9.895974,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,UPS,176.589996,179.649994,175.559998,179.250000,4891700,4,174.438890,175.229139,60.713882,0.648649,-1500000,118.022173,16.178079,3.098152,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,WMT,154.970001,157.529999,154.779999,157.179993,6357000,4,155.128891,155.223229,64.128756,0.025758,963892500,83.865890,20.646912,1.940878,"[[0.00043991619022588723, 0.000313276464533317..."
3455,2023-06-30,XOM,107.320000,107.879997,106.809998,107.250000,13542700,4,104.497779,105.412844,55.571405,0.360397,734168300,90.373220,16.174652,2.196232,"[[0.00043991619022588723, 0.000313276464533317..."

In [10]:
252*5

1260